.navbar-container {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-left: 15px;
    outline: none;
}

.nav-link {
    cursor: pointer;
}