<div class="content content-home">

    <!-- Title section -->
    <section class="jumbotron text-center mb-0 section-title">
      <div class="container" style="max-width: 600px;">
        <h1>Ogranizuj swój czas</h1>
        <br>
        <p class="lead text-muted">Dzięki tej prostej aplikacji możesz dodawać swoje zadania do wykonania i lepiej organizować swój czas.</p>
        <div class="input-group mb-3 shadow-lg">
          <input [(ngModel)]="todoTitle" (keyup.enter)="addTodo()" type="text" class="form-control" placeholder="Wpisz zadanie..." aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button (click)="addTodo()" type="button" class="btn btn-secondary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Dodaj</button>
        </div>
      </div>
    </section>
    <!--/.Title section -->
  
    <!-- List section -->
    <section class="py-5 shadow-sm section-list">
      <div class="container" style="max-width: 700px;">
          <app-todo-list></app-todo-list>
      </div>
    </section>
    <!--/.List section -->

</div>