.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.done {
        background-color: #c9fad5;
        .text {
            text-decoration: line-through;
        }
        button[data-type="doneTodo"] {
            opacity: 0;
        }
    }
    .text {
        flex-grow: 1;
    }
    .buttons {
        min-width: 100px;
    }
}