<div class="content content-donators">

    <!-- Title section -->
    <section class="jumbotron text-center mb-0 section-title">
      <div class="container" style="max-width: 600px;">
        <h1>Nasi wspierający</h1>
        <br>
        <p class="lead text-muted">Podstrona powstała jedynie w celu zaprezentowania umiejętności pobrania danych o użytkownikach z API.</p>
      </div>
    </section>
    <!--/.Title section -->
  
    <!-- List section -->
    <section class="py-5 shadow-sm section-donators">
        <div class="container">
            <app-donators-list></app-donators-list>
        </div>
    </section>
    <!--/.List section -->

</div>
